doctype html
html
  head
    title Vipul  Dance Academy
    block scripts
    block style
  body
    nav#navbar
      ul
        div#logo
            img(src="/static/img/logo.png")
            | VDA
        li #[a(href="/") Home] 
        li #[a(href="/") Services]
        li #[a(href="/") Class Info]
        li #[a(href="/") About]
        li #[a(href="/contact") Contact us]
    block content
  footer#footer 
    | Copyright © 2022 vipulDanceAcademy.com | All Rights Reserved